body{
   
    /* background: linear-gradient(to bottom, silver, rgb(14, 231, 210)); */
    background: linear-gradient(to bottom, teal, rgb(199, 97, 148)
    );
    font-family: cursive;
    height: 100vh;
}

.card_container{
    padding: 80px; 
    background-color: #f2f2f2; 
    box-shadow: 0 10px 20px rgba(28, 24, 24, .89);
    border-radius: 8px; 
    max-width: 600px; 
    box-sizing: border-box; 
    text-align: center;
    margin: 100px auto;
}